@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7e7e7;
  width: 90%;
  box-sizing: border-box;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  padding: 0 12px;
}

.lightNavbar {
  background-color: #f0f2f5;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.darkNavbar {
  background-color: #e7e7e7;
  transition: background-color 0.3s ease;
}

.menudivlight {
  position: absolute;
  top: 100%;
  color: rgb(0, 0, 0);
  background-color: #aeacac;
  padding: 20px 60px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menudivdark {
  position: absolute;
  top: 100%;
  color: rgb(0, 0, 0);
  background-color: #b92323;
  padding: 20px 60px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.drop1divlight {
  position: absolute;
  top: 100%;
  color: rgb(0, 0, 0);
  background-color: #aeacac;
  padding: 20px 60px;
  left: 0;
  width: 100%;

}

.drop1divdark {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  color: white;
  background-color: #292929;
  padding: 20px 60px;

}



.menuDark {
  color: #efae02;
}

.menuLight {
  color: black;
}

.modetext {
  color: black;
  font-size: 12px;
  text-align: center;
  width: 80px;
  transition: all 3s ease;

}

.navbarLogo {
  display: flex;
  font-family: "Michroma", sans-serif;
  font-weight: 800;
  font-size: 40px;
  letter-spacing: 0.05em;
  color: black;
  justify-content: center;
  align-items: center;
}

.navbarLogo> :nth-child(3) {
  font-weight: 400;
}

.navbarMenuContainer {
  display: flex;
  align-items: center;
  gap: 1rem;

}


.menubtnDark {
  background-color: black;
  border: 1px solid #333;

  color: #efae02;
  padding: 14px;

  cursor: pointer;
  border-radius: 1000px;
  font-size: 1rem;
  display: flex;

  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.menubtnLight {
  background-color: rgb(234, 230, 230);
  border: 1px solid #333;

  color: #efae02;
  padding: 14px;

  cursor: pointer;
  border-radius: 1000px;
  font-size: 1rem;
  display: flex;

  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}


.menuButton:hover {
  background-color: #333;

  border-color: #555;
}

.amanKaharLight {
  color: black;
}

.amanKaharDark {
  color: #e8a20aea;
}




@media (min-width:0px) and (max-width: 400px) {

  .navbarLogo> :nth-child(2),
  .navbarLogo> :nth-child(3) {
    display: none;
  }
}

@media (min-width:400px) and (max-width: 800px) {

  .navbarLogo> :nth-child(2),
  .navbarLogo> :nth-child(3) {
    display: none;
  }

  .menubtnDark,
  .menubtnLight {
    width: 80px;
  }



}