@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

.connectContainer {
  padding: 20px;
  text-align: center;
}

.lightContainer {
  background-color: #f0f2f5;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.darkContainer {
  background-color: #1a1a1a;
  color: #e0e0e0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.heading {
  color: gold;
  font-size: 50px;
  font-family: "Michroma", sans-serif;
  font-weight: 900;

}

.socialLinksGrid {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  padding: 20px;
}

.socialCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 15px;
  padding: 25px 20px;
  width: 100px;
  height: 100px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  border: 1px solid transparent;
}

:hover.socialCard {
  transform: scale(1.05);
}

.lightCard {
  background-color: #ffffff;
  color: #444;
}

.darkCard {
  background-color: #2a2a2a;
  color: #f0f0f0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}




.socialIconWrapper {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #eee;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.darkCard .socialIconWrapper {
  background-color: #444;
}


.socialIcon {
  font-size: 2.5em;
  color: #ffffff;
  transition: color 0.3s ease;
}

.darkCard .socialIcon {
  color: #f0f0f0;
}

.lightCard .socialIcon {
  color: #000000;
}


.socialName {
  font-size: 1.1em;
  font-weight: 600;
  text-align: center;

}

.headinglight {
  color: black;
}

.headingdark {
  color: gold;
}


@media (max-width: 600px) {
  .socialCard {
    width: 100%;
    max-width: 180px;
  }

  .headinglight {
    font-size: 30px;
    color: black;
  }

  .headingdark {
    font-size: 30px;
    color: gold;
  }
}

@media (min-width:600px) and (max-width:1000px) {

  .headingdark {
    font-size: 50px;

  }

  .headinglight {
    font-size: 50px;
    color: black;
  }


}