@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

.aboutMeContainer {
  color: #fff;
  padding: 20px;
  text-align: center;

}

.lightContainer {
  background-color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #333;

}

.darkContainer {
  background-color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #fff;

}

.headinglight {
  color: rgb(0, 0, 0);
  font-weight: 900;
  margin-bottom: 20px;
  font-size: 50px;
  font-family: "Michroma", sans-serif;
  display: flex;
  justify-content: center;
}

.headingdark {
  color: gold;
  font-weight: 900;
  margin-bottom: 20px;
  font-size: 50px;
  font-family: "Michroma", sans-serif;
  display: flex;
  justify-content: center;

}


.contentSection {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.hobbySection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 30px;
}

.hobbyTextlight {
  color: rgb(0, 0, 0);
  margin-right: 10px;
  font-size: 30px;
  font-family: "Michroma", sans-serif;
  font-weight: 800;
}

.hobbyTextdark {
  color: gold;
  margin-right: 10px;
  font-size: 30px;
  font-family: "Michroma", sans-serif;
  font-weight: 800;
}

.interestTags {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  background-color: #333;
  padding: 8px 15px;
  border-radius: 20px;
}


.tag {
  background-color: #eee;

  color: #000;

}


.experienceCard {
  background-color: #333;
  padding: 15px;
  border-radius: 8px;
}


.experienceCard {
  background-color: #eee;
  color: #000;
}


.description {
  text-align: left;
  line-height: 1.6;
  margin-bottom: 30px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: #333;

  border-radius: 20px;
}


.lightContainer .description {
  background-color: #eee;
  color: #000;
}


@media (min-width:0px) and (max-width:600px) {
  .headinglight {
    font-size: 30px;
    font-weight: 900;

  }

  .headingdark {
    font-size: 30px;
  }

}